#SidePanel {
    background-color: red;
    width: 15vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    float: inline-start;
}
#Scene {
    background-color: blue;
    margin: 0px;
    padding: 0px;
    width: 85vw;
    height: 100vh;
    float: inline-end;
}
body{
    margin: 0px;
    height: 100%;
    width: 100%;
}