#SidePanel {
    background-color: #fdf6e3;
    width: 15vw;
    height: 100vh;
    padding: 20px;
    position: fixed; 
    top: 0; 
    left: 10px; 
    z-index: 1;
}

#Scene {
    position: absolute;
    right: 0;
    background-color: #eee8d5;
    width: calc(85vw - 50px); /* Ajuster la largeur de la scène */
    height: 100vh;
}

body{
    background-color: #eee8d5;
    color: #333; 
    text-decoration: none;

    margin: 0px;
    height: 100%;
    width: 100%;
}
#Title
{
    font-size: x-large;   
}

.button {
    background-color: #fdf6e3; 
    border-color: transparent;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #f0e6d9; 
}

input[type="number"] {
    width: 100px;
    padding: 5px 10px;
    margin: 5px 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f1ecda;
}

.fenetre-avant-plan
{
    top: 0;
    right: 0;
    z-index: 2;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color:rgba(128, 128, 128, 0.5);
    text-align: center;
}

