#SidePanel {
    background-color: #fdf6e3;
    width: 15vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    float: inline-start;
}

#Scene {
    background-color: #eee8d5;
    margin: 0px;
    padding: 0px;
    width: 85vw;
    height: 100vh;
    float: inline-end;
}
body{
    margin: 0px;
    height: 100%;
    width: 100%;
}

.fenetre-avant-plan
{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color:rgba(128, 128, 128, 0.5);
    text-align: center;
}

